/* Body Styles */
body {
    padding: 5%;
    display: grid;
    grid-template: repeat(5, auto) / repeat(2,50%);
    grid-gap: 2%;
    grid-template-areas:
        "header header"
        "nav nav"
        "banner banner"
        "main main"
        "footer footer";
}
header {
    grid-area: header;
    text-align: center;
    font-family: monospace;
}
/*Navigating Menu */
#nav_menu {
    grid-area: nav;
}
#nav_menu ul {
    text-align: center;
    list-style-type: none;
    display: grid;
    grid-template: 1fr / repeat(5,auto);
    grid-column-gap: 13%;
    justify-content: center;
    font-family: monospace;
    font-style: oblique;
}

/* img fomatting for home */
.home_banner {
    width: 110%;
    max-width: 1080px;
    grid-area: banner;
    justify-self: center;
}

/* main section  plus slight changes for amd_intel page*/
main, .amd_intel {
   grid-area: main;
}
main img{
    width: 15em;
    float: right;
    padding-right: 6em;
    padding-left: 2em;
}
.amd_intel {
    text-align: center;
}
.amd_intel h1, .amd_intel h3 {
    font-size: 130%;
    font-family: monospace;
}
main p {
    padding-left: 5em;
    padding-right: 5em;
}

/*footer */
footer {
    grid-area: footer;
    text-align: center;
    font-family: monospace;
}
.photo_cred {
    font-size: 70%;
}

#mobile_menu {
	display: none;
}

/* media queries */
@media only screen and (max-width: 900px) {
	body {
		font-size: 90%;
	}
}

@media only screen and (max-width: 767px) {
	#nav_menu {
		display: none;
	}
    main img {
        padding-right: 2em;
        padding-bottom: 1em;
    }
    /* Center bottom paragraph for smaller screens */
    .center {
        text-align: center;
    }
    /* change background and decrease padding */
    .slicknav_menu {
        background: lightcyan !important;
	    padding: 3px !important;
    }

    #mobile_menu {
		display: grid;
        grid-area: nav;
	}
    #mobile_menu ul {
        background-color: lightcyan;
        list-style-type: none;
    }
    #mobile_menu a {
        background-color: lightcyan;
        text-decoration-color: black;
        color: black;
    }
    #mobile_menu a:hover, #mobile_menu a:focus {
        color: lightsteelblue;